{% extends 'base.html' %}
{%load crispy_forms_tags%}
{%block content%}

{%if messages%}
  <div class=".col-lg-3">
    
       {%for message in messages%}
       <p {%if message.tags%} class="text-{{message.tags}}" {%endif%}>{{message}}</p>
       {%endfor%}
    
  </div>
{%endif%}


<!-- <h1>this is profile page</h1> -->
<a href="{%url 'edit_profile' %}" class="btn btn-warning">Edit Profile</a>

<!-- <form method="post" class="container">
   {%csrf_token%}
   <h1>{{type}} Here</h1>
   {{form | crispy}}
   <button class="btn btn-warning" type="submit">Submit</button>
   
</form> -->

<!-- car section  -->
<div class="container">
  <!-- <h3>Total Car Found :{{data | length}}</h3> -->
  <!-- {{car}} -->
  <!-- {{cars}} -->
  
  <div class="d-flex flex-wrap gap-5">
        {%for car in cars%}
        <!-- {{car}} -->
      <div class="card" style="width: 18rem">
          <img src="{{car.car.image.url}}" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">{{car.car.name}}</h5>
            <p class="card-text">{{car.car.description}}</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Price :{{car.car.price}}</li>
            <li class="list-group-item">Quantity:{{car.car.quantity}}</li>
            <li class="list-group-item"><b>{{car.car.brand}}</b></li>
          </ul>
          <div class="card-body">
            <a href="#" class="card-link">View Detail</a>
            <!-- {%if request.user.is_authenticated%}
            <a href="#" class="card-link">Buy Now</a>
            {%endif%} -->
          </div>
        </div>
        
        {%endfor%}
      </div>
  </div>


{%endblock%}